@import "tailwindcss";

@theme {
    --spacing-default: 1.5rem;

    --spacing-header: 5rem;
    --height-header: 5rem;

    --spacing-footer: 4.125rem;
    --height-footer: 4.125rem;

    --breakpoint-xs: 32rem;
    --breakpoint-2xs: 25rem;
    --breakpoint-3xs: 22.5rem;
    --breakpoint-4xs: 18.75rem;

    --text-2xs: 0.625rem;

    --color-app-white: #E9E9E9;
    --color-app-grey-light: #999999;
    --color-app-grey-medium: #6F6F6F;
    --color-app-black: #000000;

    --color-app-blue: #073453;
    --color-app-bg: #003147;

    --shadow-button: 3px 4px 4px 0 #00000040;
}

:root {
    background-color: var(--color-app-bg);
    color: var(--color-app-white);
}


@utility height-minus-footer {
    @apply h-[calc(100dvh-var(--height-footer))];
}

@utility form-input {
    @apply px-3 h-12 w-full bg-app-white text-lg text-app-black placeholder:text-app-grey-light focus:outline-0;
}


/* --- HOVER UTILITIES --- */

@utility hover-none {
    @apply cursor-pointer select-none duration-75;
}

@utility hover-75 {
    @apply cursor-pointer select-none duration-75 hover:opacity-75;
}

@utility hover-bg-10 {
    @apply cursor-pointer select-none duration-75 hover:bg-white/10;
}

@utility hover-scale-105 {
    @apply cursor-pointer select-none duration-75 hover:scale-105;
}